     @media(max-width:1600px) {
          /* .vision-title {
               width: 70%;
          } */
     }
     
     @media(max-width:1440px) {
          .vision-title {
               width: 80%;
          }
     }
     
     @media(max-width:1024px) {
          .sec-space {
               margin-top: 100px;
          }
     }
     
     @media(max-width:767px) {
          .vision-title {
               width: 100%;
               margin-bottom: 24px;
          }
          .vision-desc {
               margin-top: 30px;
          }
     }
     
     @media(max-width:575px) {
          .btn-text {
               font-size: 14px;
          }
     }