@font-face {
     font-family: 'icomoon';
     src: url('../fonts/icomoon.eot?y93zhz');
     src: url('../fonts/icomoon.eot?y93zhz#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?y93zhz') format('truetype'), url('../fonts/icomoon.woff?y93zhz') format('woff'), url('fonts/icomoon.svg?y93zhz#icomoon') format('svg');
     font-weight: normal;
     font-style: normal;
     font-display: block;
}

.arrws-inner i {
     /* use !important to prevent issues with browser extensions that change fonts */
     font-family: 'icomoon' !important;
     speak: never;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     /* Better Font Rendering =========== */
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

.icon-Vector-Strokearrow:before {
     content: "\e900";
     color: #008751;
}


/***button***/

.main-btn {
     background-color: #008751;
     border-radius: 50px;
     padding: 18px 64px 17px 24px;
     display: inline-block;
     z-index: 1;
}

.arrw-btn {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     right: 0;
     margin: 0;
     width: 54px;
     height: 54px;
     background-color: #fff;
     border-radius: 100px;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all 0.5s linear;
     border: 1px solid #008751;
     z-index: -1;
}

.btn-text {
     color: #fff;
     transition: all 0.5s ease-in-out;
}

.main-btn:hover .arrw-btn {
     width: 100%;
     border-radius: 50px;
}

.main-btn:hover .btn-text {
     color: #008751;
     transition-delay: 0.2s;
}

.arrws-inner {
     position: absolute;
     /* display: flex; */
     right: 12px;
     width: 26px;
     height: 16px;
     transition: all 0.5s ease-in-out;
}

.arrw-icon {
     position: absolute;
     transition: all 0.5s ease-in-out;
}

.main-btn:hover .arrw-icon.one {
     left: 100%;
     transform: translateX(0);
}

.main-btn:hover .arrw-icon.two,
.main-btn .arrw-icon.one {
     left: 50%;
     transform: translateX(-50%);
}

.main-btn .arrw-icon.two {
     left: -100%;
     transform: translateX(0);
}


/***Vision***/

.vision-title {
     width: 70%;
     margin-bottom: 32px;
}